<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android2ee.formation.android.idgeo.juilmmxvi.firstporject">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SugarOrm Constant -->
        <meta-data
            android:name="DATABASE"
            android:value="formation.idgeo.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.android2ee.formation.android.idgeo.juilmmxvi.firstporject" />
        <!-- Application's elements -->
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.detail.DetailActivity" />

        <receiver
            android:name=".broadcastreceiver.MySmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MySmsService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>